gmail_cleaner.json
{
  "name": "Auto-Delete SPAM, Social, and Promotions Emails in Gmail",
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "id": "8a921410-15a0-4b0e-9104-19ffa1dd51d0",
      "name": "Delete All Mails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1056,
        928
      ],
      "webhookId": "b1e6a886-f0ae-479a-a25c-37a6bd9b6c65",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "SPAM"
          ]
        }
      },
      "id": "ecc3647d-f81c-4605-8f66-2a47d20b7dde",
      "name": "Fetch SPAM Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        384,
        448
      ],
      "webhookId": "ab59faf5-0db2-4bd3-ac09-e59b5ef77a11",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "CATEGORY_SOCIAL"
          ]
        }
      },
      "id": "4a288d12-0fb4-44aa-9c41-242cae4f5dd6",
      "name": "Fetch Social Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        384,
        640
      ],
      "webhookId": "1ad90798-b252-4856-af51-744b645e2725",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "CATEGORY_PROMOTIONS"
          ]
        }
      },
      "id": "f65f55af-3374-42fd-98fe-2cfd543077a5",
      "name": "Fetch Promotion Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        384,
        832
      ],
      "webhookId": "0f24dcf5-dc5e-4395-a9ec-d0c17dbfeac0",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "5b1f0245-960c-4c38-a3c9-8545f7838836",
      "name": "Combine All Fetched Emails",
      "type": "n8n-nodes-base.merge",
      "position": [
        608,
        864
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "id": "f97101f1-592e-4295-b3f1-a632a5a15551",
      "name": "Split Email IDs (One per item)",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        832,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "cbbbaf18-29e4-4a97-8614-3dfeeced42a7",
      "name": "Run Every 3 Hours (Trigger)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        160,
        928
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "receipts@bolt.eu"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        1024
      ],
      "id": "474558cd-6137-4854-82f4-633d345c31aa",
      "name": "Fetch receipts@bolt.eu",
      "webhookId": "6cc73f9d-5cd2-493e-93f0-85e21294b96e",
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "newsletters-noreply@linkedin.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        1216
      ],
      "id": "508df203-58f0-4ac3-b6ef-2f4520bccc8f",
      "name": "Fetch newsletters-noreply@linkedin.com",
      "webhookId": "6cc73f9d-5cd2-493e-93f0-85e21294b96e",
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "noreply-location-sharing@google.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        1408
      ],
      "id": "b404c9c2-480f-4e43-8ec0-ca649123d2e6",
      "name": "Fetch noreply-location-sharing@google.com",
      "webhookId": "6cc73f9d-5cd2-493e-93f0-85e21294b96e",
      "credentials": {
        "gmailOAuth2": {
          "id": "oGRH7TzBpXTSn7KH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Delete All Mails": {
      "main": [
        []
      ]
    },
    "Fetch SPAM Emails": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Social Emails": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Promotion Emails": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine All Fetched Emails": {
      "main": [
        [
          {
            "node": "Split Email IDs (One per item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Email IDs (One per item)": {
      "main": [
        [
          {
            "node": "Delete All Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Every 3 Hours (Trigger)": {
      "main": [
        [
          {
            "node": "Fetch SPAM Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Social Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Promotion Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch receipts@bolt.eu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch newsletters-noreply@linkedin.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch noreply-location-sharing@google.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch receipts@bolt.eu": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch newsletters-noreply@linkedin.com": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Fetch noreply-location-sharing@google.com": {
      "main": [
        [
          {
            "node": "Combine All Fetched Emails",
            "type": "main",
            "index": 5
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "03a04abe-a67b-4660-ba96-d87cacf91ac3",
  "meta": {
    "templateId": "4358",
    "templateCredsSetupCompleted": true,
    "instanceId": "fe0bc19aa051f7b65d829110020641543f6f8f5f4ce618b3584d21615f27dce8"
  },
  "id": "GwE1eqvukEXVvYH0",
  "tags": []
}